*{
    margin:3px;

}

div{
    margin : 2px auto;
    padding: 2px;

    /* padding: 5px 10px; */

    
}

h5{
    font-size: 1.2em;
}

legend{
    text-transform: uppercase; font-size: 1.6em;
}


.completeForm{
    width: 80vw;
    
    margin:10px auto;
    
    
    padding: 5px;
}

.radio_b{
    margin-left: 5px;
}


.post_selection:focus{
    background-color: rgb(202, 204, 236);
    color: rgb(20, 3, 3);
}

.fs1:hover{
    border-color: green;
}

.fs1:hover .legend1{
    color:darkgreen

}

.fs2:hover .legend2{
    color:darkgreen

}






.fs2:hover{
    border-color: green;
}

.sbmt{
    font-size: 1.4em;
    background-color: rgb(151, 151, 196);
    border-radius: 10px;
}

.sbmt:hover{
    background-color: lawngreen;
    font-size: 1.5em;
    
}