*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
    padding:0px;
}

body{
    background-color: #d8e2dc;
}

h1:hover{
    color:#9c6644;
}


input#task_text{ 
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

input#task_text:focus,input#task_text:hover{
    border-color: #9c6644;
}

#add_btn {
    
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    
}

#add_btn:hover , #clear:hover{
    cursor: pointer;
    background-color:#d8e2dc ;
}

#clear{
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    float: right;
    padding: 4px;
}


.container{
    border: 1px solid black;
    width :80vw;
    margin: 10px auto;
    background-color:#e8e8e4 ;
    max-height: 95vh;
    overflow: hidden;
    overflow-y:scroll
}

.inner_container{
    /* border: 1px solid black; */
    width: 98%;
    margin: 5px auto;
}

#task_text{
    background-color: #d8e2dc;
    font-size: 20px;
    color:black;
    padding: 1px
}

.edit_input{
    width: 200px;
    background-color: #d8e2dc;
    font-size: 1.1em;
}

ul{
    list-style: none;
}

li:nth-child(2n) {
    color: seagreen;
    background-color: #ece4db;
}

li{
    /* margin:0px 10px; */
    text-align: center;
    font-size: 1.2rem;
    /* margin-top: 4px; */
    padding: 3px;
}

li:hover{ 
    border-bottom: 1px solid black;
    
    
}

.left{
    float: left;
    color:rgb(121, 39, 39);
}

.check{
    float: left;
    margin-left: 5px;
    color: cadetblue;
}

.right{
    float: right;
    color:green;
}

.left:hover{
    font-size: 1.2em;
    color: red;
    cursor: pointer;
}

.right:hover{
    font-size: 1.2em;
    color: darkgreen;
    cursor: pointer;
}

.check:hover{
    font-size: 1.2em;
    color: blue;
    cursor: pointer;
}

.checked_done{
    text-decoration: line-through;
    opacity: 0.5;
}

.edit_submit{
    border-radius: 5px;
    border: 1px solid black;
    font-size: 17px;
}

.edit_submit:hover{
    cursor: pointer;
    background-color:#d8e2dc ;
}
